#map-container {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 600px;
}
#map {
    width: 600px;
    height: 400px;
}
/*css mapa falta añadir clase body.*/
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object{
    width: 1050px;
    height: 450px;
    position:relative;
    margin: 3em auto 0em;

}

.embed-responsive.embed-responsive-16by9{
    text-align:center;
    height: 450px;
    padding-bottom: 36%;
}
